@keyframes drop {
    from {
        transform: translateY(-100%);
    }

    to {
        transform: translateY(0);
    }
}

@keyframes drop2 {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes drop3 {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0);
    }
}